{% extends "base.html" %}
{% block content %}
{% load static %}

<!--
<table>
  {% with ''|center:10 as range %}
  {% for _ in range %}
    <tr>
      {% for _ in range %}
          <td> </td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endwith %}

<tbody>
    <tr>
      <td id = '1'>X</td>
      <td id = '2'>X1</td>
      <td id = '3'>X2</td>
      <td id = '4'>X3</td>
    </tr>
    <tr>
      <td id = 'dsadasd'>Y</td>
      <td id = 'dsadas'>Y1</td>
      <td id = 'ddaAS'>Y2</td>
      <td id = 'dsdsddssfe3w'>Y3</td>
    </tr>
</tbody>
</table>

{% for tile in p2_tiles %}

<p>{{tile.color}}</p>

{% endfor %}

<table>
  {% with ''|center:10 as range %}
  {% for _ in '123' %}
    <tr>
      {% for _ in range %}
          <td> </td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endwith %}
</table>

 -->

<br>
<br>
<br>

{{player1.tiles}}

{% for tile in tiles %}

<div class = 'tiles' id={{tile.pk}}> <h3 style = 'color:{{tile.color}}'>{{tile.number}}</h3> </div>

{% endfor %}




<script src="{% static 'js/game.js' %}" type="text/javascript" ></script>







{% endblock %}
