body {
    background: #b5d6f7;
}

td {
  border: 1px solid;
  width: 50px;
  height: 50px;
  background: yellow;
}



h3 {
  font-size: 150%;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 30px;
}

.tiles {
  width: 50px;
  height: 60px;
  background: #f7e0ba;
  text-align: center;
  padding: 10px;
  z-index: 9;
}

.others {
  height: 400px;
  width: 80%
}

.other {
 float: left;
 margin: 10px;
}

.players {
 float: left;
 margin: 10px
}



.board {
  height: 400px;
  width: 1000px;
  margin-left: 15px;
  background: #247dd6
}





.rack1, .rack2 {
  background: black;
  width: 800px;
  height: 20%;
  position: absolute;
  margin-top: 50px;
margin-left: 100px;
margin-right: 10px;
left: 0;
right: 0;
}
